name: build

on: [push, pull_request]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ windows-latest, ubuntu-latest ]
    env:
      SCCACHE_GHA_ENABLED: "true"
      RUSTC_WRAPPER: "sccache"
      CMAKE_C_COMPILER_LAUNCHER: "sccache"
      CMAKE_CXX_COMPILER_LAUNCHER: "sccache"

    steps:
    - uses: actions/checkout@v5

    - name: Run sccache-cache
      uses: mozilla-actions/sccache-action@v0.0.9
      with:
        version: "v0.10.0"

    # choose a older version to avoid apt error
    - name: Install msquic from apt (linux)
      if: runner.os == 'Linux'
      run: |
        wget -q https://packages.microsoft.com/config/ubuntu/$(lsb_release -rs)/packages-microsoft-prod.deb;
        sudo dpkg -i packages-microsoft-prod.deb;
        sudo apt-get update;
        sudo apt-get install libmsquic=2.4.8;
        dpkg -L libmsquic;

    - name: Run Vcpkg (windows)
      if: runner.os == 'Windows'
      uses: lukka/run-vcpkg@v11
      with:
        vcpkgGitCommitId: e3ed41868d5034bc608eaaa58383cd6ecdbb5ffb
      env:
        VCPKG_BINARY_SOURCES: default,rw

    - name: Set up binary cache
      if: runner.os == 'Windows'
      uses: actions/cache@v4
      with:
        path: ${{ env.VCPKG_DEFAULT_BINARY_CACHE }}
        key: ${{ runner.os }}-vcpkg-binary-cache-${{ hashFiles('vcpkg*.json') }}
        restore-keys: |
          ${{ runner.os }}-vcpkg-binary-cache-

    - name: vcpkg install msquic (windows)
      if: runner.os == 'Windows'
      run: vcpkg install msquic

    - name: Use nasm from winget (for quiche boringssl)
      if: runner.os == 'Windows'
      run: winget install nasm --accept-package-agreements --accept-source-agreements --disable-interactivity

    - name: Install rust stable
      uses: dtolnay/rust-toolchain@stable
      with:
        toolchain: 1.90.0
        components: rustfmt, clippy

    - uses: taiki-e/install-action@protoc

    - uses: taiki-e/install-action@cargo-llvm-cov

    - name: Run cargo check
      run: cargo check --all-targets

    - name: Run cargo fmt
      run: cargo fmt --all -- --check
    
    - name: Run cargo clippy
      run: cargo clippy --all-targets -- -D warnings

    - uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '8.x'
    
    - name: dotnet build
      run: dotnet build

    - name: cargo build all (needed for example tests)
      run: cargo build --all-targets

    - name: run all rust unittests
      run: cargo test --all-targets

    - name: check crate packaging
      run: cargo package -p tonic-h3 -p h3-util -p h3-util -p axum-h3 --allow-dirty

    - name: Run llvm-cov
      run: cargo llvm-cov --codecov --output-path codecov.json --ignore-filename-regex "tonic-h3-tests.*|external.*" --features llvm-cov-mode

    - name: Show cov summary
      run: cargo llvm-cov report --summary-only --ignore-filename-regex "tonic-h3-tests.*|external.*"

    - name: Upload coverage reports to Codecov
      uses: codecov/codecov-action@v5
      with:
        files: ./codecov.json
        fail_ci_if_error: true
        token: ${{ secrets.CODECOV_TOKEN }}